#parent_div {
     margin: auto;
     max-width: 1200px;
}

#isi1 {
     text-align: justify;
     
}

.latar-ungu {
     background-color: magenta;
}

.tulisan-pink {
     color: purple;
}
.latar-merah {
     background-color: red;
}

.latar-hijau {
     background-color: lime;
}

.latar-biru {
     background-color: blue;
}

.tulisan-putih {
     color: white;
}

.rata-tengah {
     text-align: center;
}